<!-- <a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a> -->

<div class="card mb-3" style="max-width: 540px;">
  <a href="#" (click)="onSelected()">
    <div class="row no-gutters">
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">
            {{ recipe.description }}
          </p>
        </div>
      </div>
      <div class="col-md-3 image-center">
        <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-fluid"
        style="max-height: 50px;">
      </div>
    </div>
  </a>
</div>
